$bgBlur: blur(5px);
$standBlur:  blur(20px);


#copyright{
    position: fixed;
    float: left;
    bottom: 0px;
    width: 100%;
    height: 21px;
    text-align: right;
    z-index: 99;
    backdrop-filter: blur(10px);
    background:rgba(0, 0, 0, 0.6);
    p {
        font-size: 11px;
        margin-top: 2px;
        margin-right: 10px;
        color: white;
    }
}