@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'global.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#app {
    z-index: 99;
    color: white;
    width: 100%;
    height: 100%;
    #background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(https://i.ibb.co/bRZJyg7/csthefunnyday.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        }
        #settings {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 25px;
            height: 25px;
            background-image: url(../img/settings.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.3;
            transition: 0.5s;
            
        }#settings:hover {
            opacity: 1;
        }
        #bgblurornot {width: 100%; height: 100%;background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 125%);
        #search-egn {
            // position: absolute;
            margin: auto;
            width: 50%;
            min-width: 500px;
            height: auto;
            #search{
                user-select: none;
                position: relative;
                top: 160px;
                .search {
                    border: none;
                    color: white;
                    padding-left: 20px;
                    padding-right: 50px;
                    font-size: 16px;
                    border-radius: 5px;
                    background: rgba(0, 0, 0, 0.7);
                    backdrop-filter: $standBlur ;
                    -webkit-backdrop-filter: $standBlur; 
                    width: 100%;
                    height: 50px;
                }
                
                .sumbit {
                    cursor: pointer;
                    position: absolute;
                    right: 20px;
                    top: 14px;
                    width: 24px; height: 24px;
                    background-image: url(../img/search-ico.png);
                    border: none;
                    background-color: rgba(0, 0, 0, 0);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        }
    }

