@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #000000;
}
#app {
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    #backbut {
        position: absolute;
        z-index: 99;
        right: 20px;
        top: 20px;
        width: 25px;
        height: 25px;
        background-image: url(../img/back.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.3;
        transition: 0.5s;
        
    }#backbut:hover {
        opacity: 1;
    }
    #blured {
        width: 100%;
        height: 100%;
        position: absolute;
        backdrop-filter: blur(10px);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 100%);

        #settings {
            min-width: 500px;
            width: 50%;
            margin: 0 auto;
            margin-top: 100px;
            .set {
                float: left;
                width: 100%;
                margin-top: 30px;
                input[type="text"], textarea {
                    background: rgba(0, 0, 0, 0.6);
                    color: white;
                    border: 0;
                    padding: 10px;
                    border-radius: 5px;
                }
                input {
                    width: 100%;
                    margin-top: 20px;
                }
            }
            .see-bg{
                width: 100%;
                height: 150px;
                border-radius: 10px;
                background-color: black;
                background-position: 50% 30%;
                background-repeat: no-repeat;
                background-size: cover;
                // h1{text-align: center; position: relative; top: 60px;color: white;}
            }

            #save{
                background-color: #222222;
                cursor: pointer;
                user-select: none;
                float: left;
                text-align: center;
                width: 200px;
                padding-top: 10px;
                margin-top: 20px;
                padding-bottom: 10px;
                border-radius: 5px;
            }
        }
        #userAgent{
            float: left;
        }
    }
}

#copyright{
    position: fixed;
    float: left;
    bottom: 0px;
    width: 100%;
    height: 21px;
    text-align: right;
    backdrop-filter: blur(10px);
    background:rgba(0, 0, 0, 0.6);
    p {
        font-size: 11px;
        margin-top: 2px;
        margin-right: 10px;
        color: white;
    }
}

.buttoneng {
    float: left;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.534);
    cursor: pointer;
    user-select: none;
}.buttoneng:hover {
    background-color: rgba(255, 0, 0, 0.794);
}
#searchYandex {
    margin-left: 10px;
}
#searchDuckDuckGo {
    margin-left: 10px;
}
.active {
    background: red;
}